{% extends "base.html" %}


{% block content %}
<!-- form add weather -->
<form method="POST" class="city-form">

    {% csrf_token %}
    <input
    type="text"
    name="city"
    placeholder="City Name" required>

    <button
    type="submit">
    Add City
    </button>

</form>

<!-- display weather card container -->

<div style="display:grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 1rem; margin-top: 2rem;">
    
    {% for data in weather_data %}

    <div style="background-color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); text-align: center;">

       <img
            src="https://openweathermap.org/img/wn/{{ data.icon }}@2x.png"
            alt="{{ data.description }}"
            style="width: 100px; height: 100px;">

        <h3 
            style="margin: 1rem;">{{ data.city }}
        </h3>

        <p 
            style="margin: 1rem;">{{ data.temperature }}°C
        </p>
        <p
            style="margin: 1rem; color: #777;">{{ data.description }}
        </p>

        <form 
            method="POST" action="{% url 'delete_city' data.id %}">
            {% csrf_token %}

            <button 
            type="submit"
            onclick="return confirm('Are you sure you want to delete {{ data.city }}?')"
            style="padding: 0.5rem 1rem; color: #fff; background-color: #dc3545;
                border: none; border-radius: 4px; cursor: pointer;">
          Delete
            </button>

        </form>
    </div>

    {% endfor %}

</div>

{% endblock %}